.card-image.noimage{
  min-height: 100px;
}

.card .card-content p{
  margin-bottom: 1em;
}
.card .card-content p:last-child{
  margin-bottom: 0;
}

footer a{
  color: #fff;
  font-weight: bold;
}
footer a:hover{
  color: #039be5;
}

hr{
  margin-top: 60px;
  margin-bottom: 60px;
}

#chart1{
  text-align: center;
}

.node {
  font: 300 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  fill: grey;
}
.node.parent{
  fill:#000;
  font-weight: 700;
}

.node:hover {
  fill: #000;
}

.link {
  stroke: grey;
  stroke-opacity: .4;
  fill: none;
  pointer-events: none;
  stroke-width: 2px;
}

.link--source,
.link--target {
  stroke-opacity: 1;
}

.node:hover,
.node--source,
.node--target {
  font-weight: 700;
}

.node--source {
  fill: orange;
}

.node--target {
  fill: purple;
}

.link--source,
.link--target {
  stroke-opacity: .8;
  stroke-width: 4px;
}

.link--source {
  stroke: purple;
}

.link--target {
  stroke: green;
}